/* fonts.css */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
/* fonts.css */
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* dot effect in footer links */
.dot-link::before {
  content: '•';
  margin-right: 8px;
  color: black; /* or your desired dot color */
}
